<div class="add-expense">
  <h2>Add New Expense</h2>
  <!-- creating form which using [formGroup] tag -->
  <form [formGroup]="expenseForm" (ngSubmit)="onSubmit()">
    <div>
      <label for="description">Description:</label>
      <input id="description" formControlName="description" />
      <!-- here checking validation -->
      <span
        *ngIf="
          expenseForm.get('description')?.invalid &&
          expenseForm.get('description')?.touched
        "
      >
        Description is required (min 3 characters).
      </span>
    </div>

    <div>
      <label for="amount">Amount:</label>
      <input id="amount" type="number" formControlName="amount" />
      <span
        *ngIf="
          expenseForm.get('amount')?.invalid &&
          expenseForm.get('amount')?.touched
        "
      >
        Amount must be greater than 0.
      </span>
    </div>

    <div>
      <label for="date">Date:</label>
      <input id="date" type="date" formControlName="date" />
      <span
        *ngIf="
          expenseForm.get('date')?.invalid && expenseForm.get('date')?.touched
        "
      >
        Date is required.
      </span>
    </div>

    <div>
      <label for="category">Category:</label>
      <select id="category" formControlName="category">
        <option value="">Select a Category</option>
        <option value="Food">Food</option>
        <option value="Travel">Travel</option>
        <option value="Utilities">Utilities</option>
        <option value="Others">Others</option>
      </select>
      <span
        *ngIf="
          expenseForm.get('category')?.invalid &&
          expenseForm.get('category')?.touched
        "
      >
        Category is required.
      </span>
    </div>

    <button type="submit" [disabled]="expenseForm.invalid">
      Submit Expense
    </button>
  </form>
</div>
